<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context-4.3.xsd
       http://www.springframework.org/schema/mvc   
       http://www.springframework.org/schema/mvc/spring-mvc-4.3.xsd
       http://www.springframework.org/schema/aop 
       http://www.springframework.org/schema/aop/spring-aop-4.3.xsd">

	<!-- 配置spring支持注解驱动 -->
	<mvc:annotation-driven />
	<!-- proxy-target-class=true强制使用cglib代理, 为了使自定义切面生效，这个配置只能放在applicationContext-mvc.xml中 -->
	<aop:aspectj-autoproxy proxy-target-class="true" />

	<context:component-scan base-package="com.richard.java8use.controller" />

	<!-- Spring支持视图解析器的链式配置,order值越大,解析器执行越晚 -->
	<bean id="internalResourceViewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<!-- 为了让spring在渲染jsp时支持jstl表达式, 实际并不需要设定, 当前版本中 InternalResourceViewResolver默认已经是JstlView-->
		<property name="viewClass" value="org.springframework.web.servlet.view.JstlView"/>
		<property name="contentType" value="text/html; charset=utf-8"/>
		<property name="prefix" value="/WEB-INF/jsp/"/>
		<property name="suffix" value=".jsp"/>
		<property name="order" value="2"/>
	</bean>

	<!-- FreeMarker -->
	<bean id="freeMarkerViewResolver" class="org.springframework.web.servlet.view.freemarker.FreeMarkerViewResolver">
		<property name="viewClass" value="org.springframework.web.servlet.view.freemarker.FreeMarkerView"/>
		<property name="contentType" value="text/html; charset=utf-8"/>
		<property name="cache" value="true"/>
		<property name="suffix" value=".ftl"/>
		<property name="order" value="1"/>
	</bean>
	
	<!-- 配置FreeMarker细节 -->
	<bean id="freemarkerConfig" class="org.springframework.web.servlet.view.freemarker.FreeMarkerConfigurer">
		<!-- 模板路径 -->
		<property name="templateLoaderPath" value="/WEB-INF/ftl/"/>
		<property name="freemarkerSettings">
			<props>
				<!-- 刷新模板的周期，单位为秒 -->
				<prop key="template_update_delay">5</prop>
				<!--模板的编码格式 -->
				<prop key="defaultEncoding">UTF-8</prop>
				<!--url编码格式 -->
				<prop key="url_escaping_charset">UTF-8</prop>
				<!--此属性可以防止模板解析空值时的错误 -->
				<prop key="classic_compatible">true</prop>
				<!--该模板所使用的国际化语言环境选项-->
				<prop key="locale">zh_CN</prop>
				<!--布尔值格式-->
				<prop key="boolean_format">true,false</prop>
				<!--日期时间格式-->
				<prop key="datetime_format">yyyy-MM-dd HH:mm:ss</prop>
				<!--时间格式-->
				<prop key="time_format">HH:mm:ss</prop>
				<!--数字格式-->
				<prop key="number_format">0.######</prop>
				<!--自动开启/关闭空白移除，默认为true-->
				<prop key="whitespace_stripping">true</prop>
			</props>
		</property>
	</bean>
	
	<bean class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerAdapter">
		<property name="messageConverters">
			<list>
				<bean class="org.springframework.http.converter.StringHttpMessageConverter">
					<property name="supportedMediaTypes">
						<list>
							<value>text/html;charset=UTF-8</value>
							<value>application/json;charset=UTF-8</value>
						</list>
					</property>
				</bean>
				<bean class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">
					<property name="supportedMediaTypes">
						<list>
							<value>text/html;charset=UTF-8</value>
							<value>application/json;charset=UTF-8</value>
						</list>
					</property>
				</bean>
			</list>
		</property>
	</bean>
	
	<!-- 文件上传 -->
	<bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<property name="defaultEncoding" value="utf-8" />
		<property name="maxUploadSize" value="10485760" /> <!-- 10M -->
		<property name="maxInMemorySize" value="40960" />
	</bean>
	
	<mvc:interceptors>
		<mvc:interceptor>
			<mvc:mapping path="/**" /> <!-- 拦截所有controller -->
			<mvc:exclude-mapping path="/js/**" /> <!-- 放开对静态资源的拦截 -->
			<mvc:exclude-mapping path="/css/**" />
			<mvc:exclude-mapping path="/images/**" />
			<bean id="myHandlerInterceptor" class="com.richard.java8use.interceptor.MyHandlerInterceptor" />
		</mvc:interceptor>
	</mvc:interceptors>
	
	<mvc:resources mapping="/images/**" location="/images/" cache-period="31556926" />
	<mvc:resources mapping="/js/**" location="/js/" cache-period="31556926" />
	<mvc:resources mapping="/css/**" location="/css/" cache-period="31556926" />
	
</beans>
