<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		<property name="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</property>
		<property name="hibernate.connection.driver.class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/test?useUnicode=true&amp;characterEncoding=UTF-8</property>
		<property name="hibernate.connection.username">root</property>
		<property name="hibernate.connection.password">admin</property>
		<!-- 数据库自动创建表操作
			create-drop 在程序启动的时候创建数据库表，程序退出的时候删除之前创建的表（设计阶段） 
			create 在程序启动的时候删除上一次创建的数据库表，然后再创建新的表结构（设计阶段） 
			update 在程序启动的时候如果没有表就创建数据库表，有就检查有没有更新（推荐使用） 
			validate 在程序启动的时候检查表结构，不会创建 -->
		<property name="hibernate.hbm2ddl.auto">update</property>
		<!-- 是否打印执行的sql -->
		<property name="show_sql">true</property>
		<!-- 是否格式化打印的sql -->
		<property name="hibernate.format_sql">false</property>
		
		<!-- 持久化配置文件 -->
		<mapping resource="hbm/account.hbm.xml"/>
	</session-factory>
</hibernate-configuration>